.user
{

 float: right; 
 display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Comic Sans MS;  
        color: white;
}

body{

    background-color: #f3f3f3;
    margin: 0px;
    font-family: garamon
}

.containers{
    border: 1px solid black;
    max-width: 500px;
    min-height: 30px;
    float: left;
    margin-top: 40px;
    background-color: white;
    margin-right: 20px;
    font-family: Comic Sans MS;
    font-size: large;
    padding: 10px;
}

.strike{
    text-decoration: line-through;
    background-color: gainsboro;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 40px;
    
  }

.uList{
    list-style: circle;
    /* border-radius: 25px !important; */
    padding: 5px;
    padding-left: 0px;
    margin-top: 8px;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid #e7e7e7; */
    background-color: white;
    
}

.navbarli {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Comic Sans MS;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #0080ff;
} 

#titlex
{

height: 35px;
font-size: large;

}

.textDiv
{

margin-bottom: 7px;

}

.taskInput
{
    border: 1px solid #e7e7e7;
    height: 30px;
    font-size: large;
    width: 85%;
    border-radius: 20px;
    outline: none;
     
}

.button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: RoyalBlue;
}

.list{
    list-style: none;
    border: 1px solid #e7e7e7;
    padding: 2px;
    margin: 4px 0px 7px 4px;
}

.material-icons{
    float: right;
    margin: 1px;
    color: red;
}

.material-icons:hover{
    cursor: hand;
}

.fa-plus:before{
    margin-left: 17px;
}